.projects {
  padding: 1rem 0;
  max-width: $max-width;
  margin: 0 auto 8rem;

  &__title {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    border-bottom: 4px solid $blue;
    padding: 10px;
  }

  &__description {
    font-size: 1.25rem;
    max-width: 580px;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem;
    margin-bottom: 3.75rem;
  }
}

.projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1.5rem;
  border-radius: 8px;
  list-style-type: none;
}

.project {
  background-color: $white;
  box-shadow: 0 6px 16px rgba(20, 22, 43, 0.2);
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  min-height: 18rem;
  &__logo {
    padding: 0.5rem;
  }
  &__language{
    position: relative;
    margin: 0.5rem 0 0 1rem;

    &--item{
      padding: 0 0 0 20px;
      //margin: 0.5rem 0 0.5rem 0;
      margin: 0.2rem;
      display: block;
      font-size: 1.25rem;

      &::before {
        position: absolute;
        top: 3px;
        left: 0;
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background: url('../../assets/img/dot.svg');
      }
    }
  }


  &__link {
    color: $blue;
    text-decoration: none;
    line-height: 2rem;
    font-size: 1.125rem;
    display: inline-flex;
    align-items: center;
    & + & {
      margin-left: 48px;
      position: relative;

      &::after {
        content: "";
        height: 32px;
        width: 2px;
        background: $gray;
        display: block;
        position: absolute;
        left: -26px;
        pointer-events: none;

      }
    }

    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background: url("../../assets/img/demoico.svg") center center no-repeat;
    }

    &--code::before {
      background: url("../../assets/img/repoico.svg") center center no-repeat;
    }
  }

  &__title {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem;
    margin: 1rem 0 0 1rem;
  }

  &__footer {
    padding: 0.5rem 2rem;
    background-color: white;
    height: 50px;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
  }


  &__description {
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin: 0.5rem 0 3rem 1rem;
    font-size: 1.25rem
  }

  &__container {
    padding: 1rem;
  }
}


