@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import "../../src/scss/modules/hero";
@import "../../src/scss/modules/skills";
@import "../../src/scss/modules/projects";
@import "../../src/scss/modules/contact";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: white;
  font-family: 'Lato', sans-serif;
  border: 16px solid $black;
}
.container{
  max-width: $max-width;
  margin: 0 auto;
}
#triangle1 {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-top: 83px solid #ffffff;
  border-right: 401px solid transparent;
  /* margin: 25px auto 0; */
  position: absolute;
}
#triangle2{
  top: 0;
  right: 0;
  border-top: 215px solid #ffffff;
  border-left: 1089px solid transparent;
  //margin: 25px auto 0;
  position: absolute;
}
