@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import "../../src/scss/modules/hero";
@import "../../src/scss/modules/skills";
@import "../../src/scss/modules/projects";
@import "../../src/scss/modules/contact";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  @media (max-width: $mobile) {
    font-size: 12px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: white;
  font-family: 'Lato', sans-serif;
  border: 16px solid $black;
  font-size: 16px;
  @media (max-width: $mobile) {
    border: none;
  }
}

.container {
  max-width: 1200px;
  padding: 0 8px;
  margin: 0 auto;
}

.side{
  opacity: 0;

}
.side--visible {
  width: 50px;
  font-size: 30px;
  height: 60px;
  transition: opacity 1500ms;
  opacity: 1;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 40px;
  background-image: url("../assets/img/arrowup.svg") ;
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
  color: black;
  @media (max-width: $mobile) {
    bottom: 10px;
    right: 20px;  }
}
