@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import "../../src/scss/modules/hero";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  font-family: 'Lato', sans-serif;
  border: 16px solid $black;
}

.main {
  //margin: ;
}

.hero {

}